{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col" style="text-align: center;">
        <h5>
            Daily Food Blog Website
        </h5>
        <h6>
            Created by Anvi Padiyar (UID: 118775210)
        </h6>
        <p>
            Welcome to my Daily Food Blog website, created for the CMSC388J Final Project
            assignment. This is a food blogging site that allows people to post and share 
            the meals they have during their day. The purpose of the site is to promote 
            healthy eating and diets, and to make sure people don't skip meals. The site 
            can also serve as a resource for learning about new restaurants or sharing 
            recipes. In every post, users can provide details for each meal depending on 
            whether it's homemade or from a restaurant. For homemade meals, they can 
            describe the recipe and its ingredients. For restaurant meals, users can 
            discuss the restaurant environment, service, pricing, and location. Posts 
            can also have a photo attached with them as well as a way for other users to 
            comment on them. This provides a way for the community to show support as well 
            as ask questions about recipes and restaurants they may be interested in. 
        </p>
    </div>
</div>

{% endblock %}